
{% extends 'app/base_template.html' %}

{% block body %}
{% load static %}


    <section class="main-content html" id="content">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2></h2>

                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-content">

                        <article class="single-article">

                            <header class="single-article-title">
                                <h2>Terms of Use </h2>

                            </header>

                            <ul class="article-meta">

                            </ul><!-- end .article-meta -->

                            <div class="article-content ride-box clearfix">
                                <h1>DISCLAIMER</h1>
                                    These terms and conditions apply to services provided by Car Port.
                                    Car Port owns and operates www.Car Port.com.ng website, which is referred to as "The Website".
                                    Anyone of legal age or legally capable, who utilizes the services of Car Port is hereby refered to as "The User" and  must accept these mandatory Terms and Conditions of Use and all the policies and principles that dictate them in other to use the services provided by "The Website". 
                                    The use of services provided by "The Website" implies the approval of these Terms and Condition of Use and its contents. If you do NOT agree with the following terms & conditions of use, do NOT sign up to the website and do NOT make any use of it.
                                <br>

                                <h2 style="text-align: center">TERMS AND CONDITIONS<br>
                                    DEFINITIONS OF TERMS:</h2>

                                <h4>“CAR PORT” is an internet ride sharing website. The website provides services which include people signing      up to offer rides to commuters going to similar routes with ride owners there by generating socio-economic      benefits and also enhance the community transportation system
                                    “CARPOOL” or “RIDE OFFER” is the act of offering someone else a lift with one's personal car.
                                   “PILOT” is the USER who utilizes CAR PORT's service  to accept, offer and share a ride with one or more PASSENGER going to a certain destination on a previously defined day and/or  time;
                                   “PASSENGER” is the USER who expresses interest to share a ride with a "PILOT"
                                    “USER” is either a PILOT or PASSENGER, or any other individual who makes use of Car Port's services;
                                   “RIDE” is a certain route agreed to be taken by the PASSENGER and the PILOT, through "The Website";
                                    “USER ACCOUNT” is a registered website account opened by the USER in order to use the services provided by Car Port;
                                    “DEPARTURE POINT” is an agreed location between PILOT and PASSENGER in order to meet and begin the trip;
                                </h4>

                                <h2>USERS OBLIGATIONS</h2>
                                <h4>a) PILOT’S obligations. The PILOT agrees:
                                i.	To having a valid drivers’ License that complies with the National and Traffic Law;
                                ii.	To having a valid Car Insurance;
                                iii.	To presenting him or herself at appointed time and place agreed through the website, with the specified vehicle;
                                iv.	To immediately informing every PASSENGER about any alteration to a previously scheduled ride. If at least one PASSENGER has made a reservation and the PILOT decides to change any aspects of the ride, the PILOT is compelled to previously warn every PASSENGER and obtain the agreement of all of them to the change he wishes to make.
                                v.	To be of Good Conduct at all times
                                vi.	To waiting for the passenger at the Departure point for at least 15 (fifteen) minutes after the scheduled time (the PASSENGER must, however, be punctual).
                                b) The Passengers’ obligations. The PASSENGER agrees:
                                i.	To presenting himself/herself at the time and place agreed with the PILOT;
                                ii.	To informing the PILOT of a Ride’s Cancellation;
                                iii.	To be of Good Conduct at all times
                                iv.	To waiting at the previously accorded departure point for at least 15 minutes after the appointed Departure time for the PILOT.</h4>

                                <h2>About PILOT – PASSENGER relationship::</h2>
                                    <h4>Car Port does NOT provide Transportation services; it’s just a means of supporting Ride Sharing services as well as providing a platform that would ease PILOTS &- PASSENGERS.
                                    I.            Car Port cannot be held responsible in case of any acts or omissions by any user, be those robbery, thievery, missing an appointment due to any act, argument and others, including the effective compliance with the Users’ obligations. Car Port recommends that every transaction is made should be with good sense of discretion.</h4><br>

                                <h2>PRIVACY POLICY</h2>
                                    <h4>Car Port will collect, store or make available to other users the data and information provided by other users as long as it is in the service function, including, but not limited to Full Name, Photo, Profile, e-mail and Phone Number. You hereby consent to the processing and transfer of your information during and after the use of the Platform.</h4>>
                                                                    
                        </article>


                    </div><!-- end .page-content -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .row -->
        </div><!-- end .container -->

    </section><!-- end .main-content -->



{% endblock %}

